<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Slide Rule.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5859060F2B0DB8FF0051F3FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5859061F2B0DB9030051F3FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>585906292B0DB9030051F3FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
